HTTP_PORT=5000
HTTP_HOST=0.0.0.0

VICTIM_EMAIL=victim@nomnom.local
SENDER_EMAIL=no-reply@nomnom.local
SMTP_HOST=localhost
SMTP_USER=
SMTP_PWD=
SMTP_PORT=1025
SMTP_USE_TLS=0

FLAG=dctf{dont_trust_uuids}

